<% include ../../partials/header %>
    <div class="container">
        <div class="content">
            <div class="container_12">
                <h2>Cadastrar Aluno</h2>
                <form method="post">
                <input type="text" class="form" placeholder="Nome" required autofocus>
                <input type="date" class="form" placeholder="Data de Nascimento" required autofocus>
                <input type="text" class="form" placeholder="Endereço Residência" required autofocus>
                <input type="text" class="form" placeholder="Endereço Ponto de Embarque/Desembarque" required autofocus>
                <input type="text" class="form" placeholder="Série" required autofocus>
                <input type="text" class="form" placeholder="Classe" required autofocus>
                <input type="text" class="form" placeholder="Turno" required autofocus>
                <input type="text" class="form" placeholder="Escola/Instituição" required autofocus>
                <input id="resp" list="responsavel" class="form" name="responsavel" placeholder="Informe o nome do Responsável">
                    <datalist id="responsavel">
                        <% result.forEach(content => { %>
                            <option value="<%=content.nome%>"><%=content.cpf%></option>
                       <% }) %>
                    </datalist> 
                <textarea data-ls-module="charCounter" maxlength="200" placeholder="Observação"></textarea>
                <button class="btnhome btnsingin typetext" type="submit"> <span>Enviar</span></button>
                </form>
            </div>       
        </div>        
    </div>
<% include ../../partials/footer %>