<% include ../../partials/header %>
    <div class="container">
        <div class="content">
            <div class="container_12">
                <h2>Cadastrar Responsáveis</h2>
                <input type="text" name="nome" id="idNome" class="form" placeholder="Nome" required autofocus>
                <input type="text" name="celular01" id="idCelular01" class="form" placeholder="Telefone/Celular 01" required autofocus>
                <input type="text" name="celular02" id="idCelular02" class="form" placeholder="Telefone/Celular 02" required autofocus>
                <input type="text" name="cpf" id="idCpf" class="form" placeholder="CPF" required autofocus>
                <select class="form" name="turno">
                    <option>Responsável Legal</option>
                    <option>Mãe</option>
                    <option>Pai</option>
                    <option>Vó</option>
                    <option>Vô</option>
                    <option>Irmão</option>
                    <option>Irmã</option>
                    <option>Tio</option>
                    <option>Tia</option>
                </select>
                <input type="text" name="endereco" id="idEndereco" class="form" placeholder="Endereço" required autofocus>
                <button class="btnhome btnsingin typetext" type="submit"> <span>Enviar</span></button>
            </div>       
        </div>        
    </div>
<% include ../../partials/footer %>