<% include ../../partials/header %>
    <div class="container">
        <div class="content">
            <div class="container_12">
                <h2>Cadastrar Veículos</h2>
                <input type="text" name="" id="" class="form" placeholder="Placa" required autofocus>
                <input type="text" name="" id="" class="form" placeholder="Frota" required autofocus>
                <input type="text" name="" id="" class="form" placeholder="Modelo" required autofocus>
                <input type="text" name="" id="" class="form" placeholder="Ano" required autofocus>
                <input type="text" name="" id="" class="form" placeholder="Capacidade" required autofocus>
                <input type="text" name="" id="" class="form" placeholder="Renavam" required autofocus>
                <input type="text" name="" id="" class="form" placeholder="Chassi" required autofocus>
                <input type="text" name="" id="" class="form" placeholder="Inspeção Veicular Vencimento" required autofocus>
                <button class="btnhome btnsingin typetext" type="submit"> <span>Enviar</span></button>
            </div>       
        </div>        
    </div>
<% include ../../partials/footer %>