/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    /*background: ;
	color: ;
	*/
    font-size: 100%;
    line-height: 1.25;
    font-family: 'Lato', Arial, sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    color: #9baaa7;
    text-decoration: none;
    outline: none;
}

a:hover,
a:focus {
    color: #fd3f0b;
}


/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}


/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}


/* MY CODE */

.bgpage {
    background-image: url('/img/bg.png');
}

.content {
    background-color: rgba(255, 255, 255, 0.75);
    border-bottom: 3px solid rgb(194, 17, 17);
    border-top: 3px solid rgb(194, 17, 17);
    margin-top: 40px;
    position: relative;
    padding: 40px;
    margin-bottom: -50px;
    height: 100%;
}

header {
    background-color: rgba(255, 255, 255, 0.75);
    width: 100%;
    padding-top: 20px;
    border-bottom: 3px solid rgb(194, 17, 17);
    height: 85px;
    position: relative;
    font-size: 20px;
}

header ul {
    margin-top: 15px;
}

header ul li {
    display: inline-block;
}

header ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 10px;
    transition: 1s;
}

header ul li a:hover {
    transition: 0.5s;
    color: rgb(194, 17, 17);
}

.logo {
    width: 275px;
    float: left;
    position: absolute;
    transition: 0.5s;
}

.logo:hover {
    width: 310px;
    transition: 0.5s;
}

.ola p {
    font-size: 30px;
    color: rgb(194, 17, 17);
}

.ola p span {
    font-weight: bold;
}

.btnhome {
    background: #272829;
    font-family: Arial;
    color: #ffffff;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 31%;
    height: 125px;
    font-size: 35px;
    margin: 8px;
    border-radius: 30px;
    transition: all 0.5s;
    cursor: pointer;
}

.btnhome:hover {
    background: rgb(194, 17, 17);
    text-decoration: none;
}

.btnhome span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btnhome span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btnhome:hover span {
    padding-right: 25px;
}

.btnhome:hover span:after {
    opacity: 1;
    right: 0;
}

.btn-singin {
    background: #272829;
    font-family: Arial;
    color: #ffffff;
    font-size: 25px !important;
}

.btn-singin:hover {
    background: rgb(194, 17, 17);
    text-decoration: none;
}