<% include partials/header %>
    <div class="container">
        <div class="content">
            <div class="container_12">
                <div class="ola">
                    <div class="grid_12">
                        <p><span><%= payload.username %>,</span> você deseja cadastrar:</p>
                    </div>
                    <div class="grid_12">
                        <button class="btnhome" type="submit"> <span>Acompanhantes</span> </button>
                        <button class="btnhome" type="submit"> <span>Alunos</span> </button>
                        <button class="btnhome" type="submit"> <span>Escolas</span> </button>
                        <button class="btnhome" type="submit"> <span>Motoristas</span> </button>
                        <button class="btnhome" type="submit"> <span>Responsáveis</span> </button>
                        <button class="btnhome" type="submit"> <span>Veículos</span> </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include partials/footer %>